* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.NavBar {
    background-color: black;
    font-size: 20px;
    color: white;
    height: 70px;
    /* display the items of the navigation bar in a grid, where the anchor link elements take the space left available by the header  */
	display: grid;
	grid-template-columns: auto 1fr;
	/* center the items vertically */
	align-items: center;
  }

  .NavBar ul {
	/* display the unordered list in a single row, placing the elements at the end of the grid column */
	display: flex;
	justify-content: flex-end;
	padding: 0.25rem 0.75rem;
	list-style: none;
}

.NavBar ul li {
	/* separate the list items more prominently */
	margin: 0 0.75rem;
	font-size: 1.4rem;
	text-transform: uppercase;
}

.coinlist {
	width: 300px;
	border: 5px solid blue;
	padding: 50px;
	margin: 20px;
  }

  .deck-of-cards{
    width: 300px;
	padding: 50px;
	margin: 20px;
}